<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.efan.mybatis.persistence.CatagoryMapper"> 
	<resultMap type="com.efan.mybatis.domain.CatagoryInfo" id="CatagoryInfo">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime" />  
        <result column="create_user" property="createUser" />  
        <result column="update_time" property="updateTime" />  
        <result column="update_user" property="updateUser" />  
	</resultMap>

	<select id="countAllCatagoriesPagination" resultType="int">
		select
			count(*)
		from
			ott_app_catagory
		where
		 	1 = 1
		 	<if test="pagerForm.name != '' and pagerForm.name != null">
		 		and name like '%${pagerForm.name}%'
		 	</if>
	</select>
	
	<select id="findAllCatagoriesPagination" resultMap="CatagoryInfo">
		select
			*
		from
			ott_app_catagory
		where
			is_deleted = 0
			<if test="pagerForm.name != '' and pagerForm.name != null">
		 		and name like '%${pagerForm.name}%'
		 	</if>
		 <choose>
			<when test="pagerForm.orderField != '' ">
				<![CDATA[
				  order by ${pagerForm.orderField} ${pagerForm.orderDirection}
				]]>
			</when>
			<otherwise>
				<![CDATA[
				  order by 
				  	id ${pagerForm.orderDirection}
				]]>
			</otherwise>
		</choose>
		limit
			#{pagerForm.pageStart}, #{pagerForm.numPerPage}
	</select>
	
	<insert id="addCatagory">
		insert into ott_app_catagory
		(name, status, create_time, create_user)
		values 
		(#{catagoryInfo.name}, #{catagoryInfo.status}, now(), #{catagoryInfo.createUser})
	</insert>

	<update id="updateCatagory">
		update 
			ott_app_catagory
		set
			status = #{catagoryInfo.status},
			update_time = now(),
			update_user = #{catagoryInfo.updateUser}
		where
			id = #{catagoryInfo.id}
	</update>
	
	<select id="getCatagoryById" resultMap="CatagoryInfo">
		select
			*
		from
			ott_app_catagory
		where
			id = #{id}
			and is_deleted = 0
	</select>	
	
	<select id="getCatagorysByAppId" resultMap="CatagoryInfo">
		select
			*
		from
			ott_app_catagory, ott_catagory_app_rel
		where
			ott_app_catagory.id = ott_catagory_app_rel.catagory_id
			and ott_catagory_app_rel.app_id = #{app_id}
	</select>	

	<update id="removeCatagoryById">
		update
			ott_app_catagory
		set
			is_deleted = 1,
			update_time = now(),
			update_user = #{updateUser}
		where
			id = #{id}
	</update>
	
	<delete id="removeCatagoryAppRel">
		delete from
			ott_catagory_app_rel
		where
			catagory_id = #{id}
	</delete>
	
	<select id="getAllValidCatagories" resultMap="CatagoryInfo">
		select 
			*
		from
			ott_app_catagory
		where
			is_deleted = 0
			and status = 1
	</select>

	<select id="getAllCatagories" resultMap="CatagoryInfo">
		select
			*
		from
			ott_app_catagory
		where
			is_deleted = 0
	</select>

</mapper>