<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.efan.mybatis.persistence.ChannelMapper"> 
<resultMap type="com.efan.mybatis.domain.ChannelInfo" id="ChannelInfo">  
        <id column="id" property="id" />  
        <result column="name" property="name" />  
        <result column="weight" property="weight" />
        <result column="status" property="status" />
        <result column="create_user" property="createUser" />    
        <result column="update_time" property="updateTime" />  
        <result column="update_user" property="updateUser" />  
        <result column="is_deleted" property="isDeleted" />  
    </resultMap> 
	
	<select id="countAllChannels" resultType = "int">
		select 
			count(*)
		from
			ott_app_channel
		where
			is_deleted = 0
			<if test="pagerForm.name != '' and pagerForm.name != null">
		 		and ott_app_channel.name like '%${pagerForm.name}%'
		 	</if>
	</select>
	<select id="findAllChannels" resultMap="ChannelInfo">
		select
			*
		from
			ott_app_channel
		where
			is_deleted = 0  
		 	<if test="pagerForm.name != '' and pagerForm.name != null">
		 		and ott_app_channel.name like '%${pagerForm.name}%'
		 	</if>
		 <choose>
			<when test="pagerForm.orderField != '' ">
				<![CDATA[
				  order by 
				  	${pagerForm.orderField} ${pagerForm.orderDirection}
				]]>
			</when>
			<otherwise>
				<![CDATA[
				  order by 
				  	ott_app_channel.weight desc
				]]>
			</otherwise>
		</choose>			
		limit
			#{pagerForm.pageStart}, #{pagerForm.numPerPage}
	</select>
	
	<insert id="addChannel">
		insert into ott_app_channel (
			name, 
			weight, 
			status, 
			create_user,
			update_user,
			update_time,
			is_deleted
		) values (
			#{channelInfo.name},
			#{channelInfo.weight},
			#{channelInfo.status},
			#{channelInfo.createUser},
			#{channelInfo.updateUser},
			now(),
			0
		)
	</insert>
	
	<select id="getChannelById" resultMap="ChannelInfo">
		select 
			*
		from
			ott_app_channel
		where
			id = #{id}
			and is_deleted = 0
	</select>

	<update id="updateChannelById">
		update 
			ott_app_channel
		set
			name = #{channelInfo.name},
			weight = #{channelInfo.weight},
			status = #{channelInfo.status},
			update_time = now(),
			update_user = #{channelInfo.updateUser},
			is_deleted = #{channelInfo.isDeleted}
		where
			id = #{channelInfo.id}
	</update>
	
	<update id="removeChannelById">
		update
			ott_app_channel
		set
			is_deleted = 1,
			update_time = now(),
			update_user = #{updateUser}
		where
			id = #{id}
	</update>
	


	<delete id="removeChannelAppRel">
		delete from 
			ott_channel_app_rel
		where
			channel_id = #{id}
	</delete>

	
	<update id="updateAppWeightByChannelIdAndAppId">
		update 
			ott_channel_app_rel
		set
			app_weight = #{app_weight}
		where
			app_id = #{app_id}
			and channel_id = #{channel_id}
	</update>
	<update id="removeAppFromChannel">
		delete from 
			ott_channel_app_rel
		where
			app_id = #{app_id}
			and channel_id = #{channel_id}
	</update>
	<insert id="addChannelAppRel">
		insert into ott_channel_app_rel (
				app_id,channel_id,app_weight
		) values (
			#{app_id},
			#{channel_id},
			1
		)
	</insert>
	
	<select id="getAllValidChannels" resultMap="ChannelInfo">
		select
			*
		from
			ott_app_channel
		where
			is_deleted = 0
			and status = 1
		order by
			weight desc
	</select>

	<select id="getAllChannels" resultMap="ChannelInfo">
		select
			*
		from
			ott_app_channel
		where
			is_deleted = 0
		order by
			weight desc
	</select>

	<select id="getChannelsByAppId" resultType="string">
		select
			ott_app_channel.name
		from
			ott_app_channel, ott_channel_app_rel
		where
			ott_app_channel.id = ott_channel_app_rel.channel_id
			and ott_channel_app_rel.app_id = #{appId}
	</select>
</mapper>